<!DOCTYPE html>
<html>
<head>
	<title>Draft FORMAT</title>
	<link rel="stylesheet" type="text/css" href="../static/draft.css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript">
		var draftId = "123";
	</script>
	<script type="text/javascript" src="../static/draft.js"></script>
</head>
<body>
	<div id="waiting">
		Waiting for players...
	</div>
	<div id="pack">
		<div id="cards"></div>
	</div>
	<div id="deck">

	</div>
</body>
</html>